{% extends 'base.html' %}

{% block content %}
  <br />
  <h1>{{ genre }} 영화</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for movie in movies %}
      {% for movie_genre in movie.genres.all %}
        {% if movie_genre.name == genre %}
          <div class="col">
            <div class="card h-100">
              <img src="{{ movie.poster_path }}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></h5>
                <p class="card-text">{{ movie.overview|truncatechars:100 }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}